

body {
    padding: 0;
    margin: 0;
    background-color: #222222;
    cursor: url("assets/image/cursor.png"), auto;
    
}
/* Hide the scrollbar in Webkit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

/* Hide the scrollbar in Firefox and other browsers */
body {
    scrollbar-width: none;
}
.place-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.particles-js-canvas-el, .place-center {
    max-height: 100vh;
}
.btn-container {
    display: none;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
}
.btn-music {
    width: 35px;
    height: 35px;
    background-color: #222222;
    border-radius: 8px;
    border: 2px solid #a0a0a0;
}
.btn-music img {
    width: 100%;
    height: 100%;
}
.copyright {
    font-family: sans-serif;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 12px;
}

.copyright a {
    color: white;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
